services:
  mysql:
    container_name: mysql
    image: mysql:9
    environment:
      - MYSQL_DATABASE=devops
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - 3306:3306
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - two_tier_network
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s

  app:
    build: .
    ports: 
      - 5000:5000
    restart: always
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DB=devops
    networks:
      - two_tier_network
    depends_on: 
      - mysql
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:5000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 60s
    
volumes:
  db_data:

networks:
  two_tier_network:

